# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
*.iml
log.basePath_IS_UNDEFINED/
logs/
target/
.metadata/
*.classpath
*.settings
*.springBeans
*.project
*.fdt
.recommenders/
*.springWebflow
.DS_Store
/LOG_PATH_IS_UNDEFINED/
gen/
src/main/resources/swagger.yaml
src/main/java/META-INF/sun-jaxb.episode
**/sonar-report/*
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
/bin/
